<%= form_with(model: game, class: "form") do |form| %>
  <% if game.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= form.label :name, "שם המשחק", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label class="form-label" for="game_mode">גרסת משחק</label>
    <select class="form-control" id="game_mode" name="game[mode]">
      <option value="1">משחק זריז עם מילה אחת</option>
      <option value="4" selected>משחק רגיל, 4 מילים</option>
      <option value="6">משחק ארוך, 6 מילים</option>
    </select>
  </div>

  <div class="form-group">
    <label class="form-label" for="game_difficulty">רמת קושי</label>
    <select class="form-control" id="game_difficulty" name="game[difficulty]">
      <option value="easy">קל</option>
      <option value="medium" selected>בינוני</option>
      <option value="hard">קשה</option>
    </select>
  </div>

  <div class="form-group mt-2 d-grid">
    <%= form.submit "יצירת משחק", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
