<%= form_with(model: game, class: "form") do |form| %>
  <% if game.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "שם המשחק", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group mt-2 d-grid">
    <%= form.submit "יצירת משחק", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
