<div id="<%= dom_id game %>" class=" my-4">
  <h1><%= game.name %></h1>

  <% @game.subs.each_with_index do |sub, index| %>
    <div class="card">
      <div class="card-body">
          <h2 class="text-center"><%= index + 1 %>. 
            <% if session[:user_type] %>
              <%= sub.creator_word %>
            <% else %>
              <%= sub.joiner_word %>
            <% end %>
          </h2> 
          <div class="row text-center">
            <div class="col">ניחושים שלי</div>
            <div class="col">ניחושים שלהם</div>
          </div>
          <div class="row text-center">
          <div class="col">
            <textarea name="" id="" class="w-100" rows="5"></textarea>
          </div>
          <div class="col">
            <textarea name="" id="" class="w-100" rows="5"></textarea>
          </div>
          </div>
      </div>
    </div>
  <% end %>
     
<button id="share_button_<%= game.id %>" >Copy text</button>

</div>


<script>

document.querySelector('#share_button_<%= game.id %>').addEventListener('click', function(event) {
  event.preventDefault();
  console.log("share button clicked");
  if(navigator.share) {
    navigator.share({
      title: 'בואו לשחק צוללציות',
      text: 'זה אחלה משחק',
      url: "<%= game_url(game) %>",
    })
    .then(() => console.log('Successful share'))
    .catch((error) => console.log('Error sharing', error));
  } else {
    const copyText = "<%= game_url(game) %>"
   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText);

  // Alert the copied text
  alert("Copied the text: " + copyText);
  }
});
</script>