

<div id="<%= dom_id game %>" class=" my-2">

  <h1><%= game.name %>
  <button class="btn btn-primary mb-2 float-start" id="share_button_<%= game.id %>" >שיתוף משחק</button>
  </h1>
  <% @game.subs.each_with_index do |sub, index| %>
    <div class="py-2">

      <div class="card-body my-3"
           x-data="
           {
            toggle(){
              $refs.word.classList.toggle('strikethrough')
              $refs.btn.classList.toggle('btn-outline-success')
              $refs.btn.classList.toggle('btn-success')
              party.confetti($refs.btn, {
                  count: party.variation.range(70,130),
                });
            }
           }
           ">
          <h2 class="text-center">
          <button 
            type="button" 
            class="btn btn-outline-success float-start border-0"
            x-ref="btn"
            x-on:click="toggle()"> 
              <i class="bi-check-lg"></i>
            </button>
          <%= index + 1 %>. 
            <% if session[:game_creator] == @game.id %>
              <span x-ref="word">
                <%= sub.creator_word %>
              </span>
            <% else %>
              <span x-ref="word">
                <%= sub.joiner_word %>
              </span>
            <% end %>
          </h2> 
          <div class="row text-center">
            <div class="col">ניחושים שלי</div>
            <div class="col">ניחושים שלהם</div>
          </div>
          <div class="row text-center">
            <div class="col">
              <textarea name="" id="" class="w-100" rows="5"></textarea>
            </div>
            <div class="col">
              <textarea name="" id="" class="w-100" rows="5"></textarea>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>


<script>

document.querySelector('#share_button_<%= game.id %>').addEventListener('click', function(event) {
  event.preventDefault();
  console.log("share button clicked");
  if(navigator.share) {
    navigator.share({
      title: 'בואו לשחק צוללציות',
      text: 'זה אחלה משחק',
      url: "<%= game_url(game) %>",
    })
    .then(() => console.log('Successful share'))
    .catch((error) => console.log('Error sharing', error));
  } else {
    const copyText = "<%= game_url(game) %>"
   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText);

  // Alert the copied text
  alert("הקישור הועתק");
  }
});
</script>

