<div id="<%= dom_id sub %>">
  <p>
    <strong>Creator word:</strong>
    <%= sub.creator_word %>
  </p>

  <p>
    <strong>Joiner word:</strong>
    <%= sub.joiner_word %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= sub.difficulty %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= sub.game_id %>
  </p>

</div>
